[report]
omit = 
    */__pycache__/*
    *.pyc
    *migrations/*
    *venv/*
    *asyncio/*           
    *concurrent/*     
    *ctypes/*                   
    *decimal.py                         
    *encodings/*               
    *hmac.py                             
    *html/*
    *http/cookiejar.py 
    *mimetypes.py
    *multiprocessing/*
    *numbers.py      
    *stringprep.py                       
    *uuid.py  
    */site-packages/*
    */http/*
    */cgi.py*
    */urllib3/*
    */yaml/*
    *.vscode/
    */werkzeug/*
    */requests/*
    */pyasn1/*
    */markupsafe/*
    */jwt/*
    */jsonschema/*
    */jinja2/*
    */flask/*
    */idna/*
    */itsdangerous.py
    */chardet/*
    */blinker/*
    */fractions.py
    */_bootlocale.py
    */certifi/*
    */click/*
    */cryptography/*
    */flasgger/*
    */mistune.py
    manage.py
    main/app_models.py
    main/views/business/businessModel.py
    main/views/reviews/reviewModel.py